<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Siri Ganapathineedi">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body onload="addYear()">
    <header>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="../tickets.html" class="cta">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <div class="main">
        <img src="../static/MonoMuse%20Museum%20Image.png
" style="width: 50%;" alt="Image of MonoMuse Museum">
    <h2>Mission Statement</h2>
    <p>MonoMuse is dedicated to exploring the evoliving relationship between art, technology, and
        society. Our mission is to inspire curiosity and creativity by showcasing innovative
        exhibitions that highlight how digital tools, emerging technologies, and human imagination shape
        the future of artistic expression.
    </p>
    <h2>Milestones</h2>
    <ul>
        <li>2023: Expansion of the museum space and launch of international artist collaborations.</li>
        <li>2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</li>
        <li>2016: MonoMuse opens its doors with its first exhibition on digital storytelling.</li>
    </ul>
    </div>
    <footer>
        <p id="copyYear"></p>
    </footer>
    <script src="../static/script.js" defer></script>
</body>
</html>