<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Buy Tickets</h1>
    <table>
        <tr>
            <td>Ticket Type</td>
            <td>Description</td>
            <td>Price</td>
        </tr>
        <tr>
            <td>Adult</td>
            <td>General admission for ages 18 and over. Under 18 free of charge.</td>
            <td>$18</td>
        </tr>
        <tr>
            <td>Student</td>
            <td>Student ID required</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>Member</td>
            <td>Member ID required</td>
            <td>$15</td>
        </tr>
    </table>
</body>
</html>